<!-- 
<a class="nav-link nav-text" routerLink="/projects/filter" routerLinkActive="active">Search</a>
<a class="nav-link nav-text" routerLink="/projects/favorites" routerLinkActive="active">Favorites
    <span *ngIf="favoritesService.count > 0" class="badge badge-black">{{favoritesService.count}}</span>
    </a>
 -->


 <a class="nav-link nav-text" routerLink="/projects/filter" routerLinkActive="active">SEARCH</a>
 &nbsp;|&nbsp;
<a class="nav-link nav-text" routerLink="/projects/favorites" routerLinkActive="active">FAVORITES
    <span *ngIf="favoritesService.count > 0" class="badge badge-black">{{favoritesService.count}}</span>
</a>


<!-- <table border="1">
    <tr>
        <td><a class="nav-link nav-text" routerLink="/projects/filter" routerLinkActive="active">SEARCH</a></td>
        <td>&nbsp;|&nbsp;</td>
        <td><a class="nav-link nav-text" routerLink="/projects/favorites" routerLinkActive="active">FAVORITES
            <span *ngIf="favoritesService.count > 0" class="badge badge-black">{{favoritesService.count}}</span>
            </a>
        </td>
    </tr>
    <tr>
            <td routerLink="/projects/filter" routerLinkActive="active"><div style="width:100%; height:3px;"></div></td>
            <td></td>
            <td routerLink="/projects/favorites" routerLinkActive="active"><div style="width:100%; height:3px;"></div></td>
        </tr>
    
</table> -->

<!-- <nav class="subnav">
  <ul class="nav">
          <li class="nav-item">
              <a class="nav-link nav-text" routerLink="/projects/filter" routerLinkActive="active">Search</a>
          </li>
          <li class="nav-item">
              <a class="nav-link nav-text" routerLink="/projects/favorites" routerLinkActive="active">Favorites
                <span *ngIf="favoritesService.count > 0" class="badge badge-black">{{favoritesService.count}}</span>
            </a>
          </li>
      </ul>
</nav> -->


<!-- 
        <h1>Projects</h1>
        <p-menubar [model]="menuItems"></p-menubar> -->
