<h1 *ngIf="!project.id">Add Project</h1>
<h1 *ngIf="project.id">Edit Project</h1>

<form #projectForm="ngForm" (ngSubmit)="onSaveBtnClicked()">
    <div class="ui-g">
        <div class="ui-g-2">
            <label for="name-input">Name*</label>
        </div>
        <div class="ui-g-6">
            <input name="nameInput" style="width: 100%" type="text" size="30" pInputText [(ngModel)]="project.name" #nameInput="ngModel"
                required>
        </div>

        <div class="ui-g-4">
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!nameInput.valid && nameInput.touched">
                <i class="fa fa-close"></i>
                Name is required
            </div>
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="formErrors['Name']">

                <i class="fa fa-close" (click)="formErrors['Name'] = ''"></i>
                <span>{{formErrors['Name']}}</span>
            </div>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-2">
            <label for="customer-input">Customer*</label>
        </div>
        <div class="ui-g-6">
            <p-dropdown [style]="{'width': '100%'}" [options]="customersLookupData" name="customerInput" #customerInput="ngModel" optionLabel="name"
                [(ngModel)]="selectedCustomer" filter="true" required autoDisplayFirst="false" showClear="true" resetFilterOnHide="true"
                placeholder="...">
                <ng-template let-item pTemplate="selectedItem">
                    <span>{{item.label}}</span>
                </ng-template>
                <ng-template let-customer pTemplate="item">
                    <div>{{customer.label}}</div>
                </ng-template>
            </p-dropdown>
        </div>
        <div class="ui-g-4">
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!customerInput.valid&&customerInput.dirty">
                <i class="fa fa-close"></i>
                Customer is required
            </div>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-2">
            <label for="industry-input">Industry</label>
        </div>
        <div class="ui-g-6">
            <p-dropdown [style]="{'width': '100%'}" [options]="industries" name="industryInput" #industryInput="ngModel" optionLabel="name"
                [(ngModel)]="selectedIndustry" filter="true" autoDisplayFirst="false" showClear="true" resetFilterOnHide="true"
                placeholder="...">
                <ng-template let-item pTemplate="selectedItem">
                    <span>{{item.label}}</span>
                </ng-template>
                <ng-template let-industry pTemplate="item">
                    <div>{{industry.label}}</div>
                </ng-template>
            </p-dropdown>
        </div>
        <div class="ui-g-4">
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!customerInput.valid&&customerInput.dirty">
                <i class="fa fa-close"></i>
                Customer is required
            </div>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-2">
            <label for="regions-input">Regions</label>
        </div>
        <div class="ui-g-6">
            <p-autoComplete name="regions-input" [style]="{'width': '100%'}" [(ngModel)]="selectedRegions" [suggestions]="filteredRegionsLookup"
                (completeMethod)="onRegionsLookup($event)" field="name" [multiple]="true" dropdown="true">
                <ng-template let-region pTemplate="item">
                    <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                        {{region.name}}
                        <br>
                        <span *ngFor="let breadcrumppart of getParentTreeRegions(region); first as isFirst; last as isLast;">
                            <span *ngIf="isFirst">(</span>
                            {{breadcrumppart.name}}&nbsp;
                            <span *ngIf="!isLast"> &gt; </span>
                            <span *ngIf="isLast">)</span>
                        </span>
                    </div>
                </ng-template>
            </p-autoComplete>
            <p-overlayPanel #opRegions>
                <p-tree [value]="primeNGTreeRegionNodes" selectionMode="single" [propagateSelectionUp]="false" [propagateSelectionDown]="false"
                    (onNodeSelect)="onRegionTreeNodeSelected($event)">
                </p-tree>
            </p-overlayPanel>
            <button pButton type="button" icon="fa fa-fw fa-caret-down" (click)="opRegions.toggle($event)"></button>

        </div>
        <div class="ui-g-4">
            &nbsp;
        </div>
    </div>

    <div class="ui-g">
        <div class="ui-g-2">
            <label for="offerings-input">Offerings</label>
        </div>
        <div class="ui-g-6">
            <p-autoComplete name="offerings-input" [style]="{'width': '100%'}" [(ngModel)]="selectedOfferings" [suggestions]="filteredOfferingsLookup"
                (completeMethod)="onOfferingsLookup($event)" field="name" [multiple]="true" placeholder="enter text" dropdown="true">

                <ng-template let-offering pTemplate="item">
                    <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                        {{offering.name}}
                        <br>
                        <span *ngFor="let breadcrumppart of getParentTreeOfferings(offering); first as isFirst; last as isLast;">
                            <span *ngIf="isFirst">(</span>
                            {{breadcrumppart.name}}&nbsp;
                            <span *ngIf="!isLast"> &gt; </span>
                            <span *ngIf="isLast">)</span>
                        </span>
                    </div>
                </ng-template>
            </p-autoComplete>
            <p-overlayPanel #opOfferings dismissable="false">
                <p-tree [value]="primeNGTreeOfferingNodes" selectionMode="single" [propagateSelectionUp]="false" [propagateSelectionDown]="false"
                    (onNodeSelect)="onOfferingTreeNodeSelected($event); opOfferings.hide();">
                </p-tree>
            </p-overlayPanel>
            <button pButton type="button" icon="fa fa-sitemap" (click)="opOfferings.toggle($event)"></button>
        </div>
        <div class="ui-g-4">
            &nbsp;
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-2">
            <label for="skills-input">Skills</label>
        </div>
        <div class="ui-g-6">
            <p-autoComplete name="skills-input" class="my-p-autocomplete" [style]="{'width': '100%'}" [inputStyle]="{'width':'100%'}"
                [(ngModel)]="selectedSkills" field="value" [suggestions]="skillsLookup" (completeMethod)="onSkillLookup($event)"
                [dropdown]="true" [multiple]="true">
            </p-autoComplete>
        </div>
        <div class="ui-g-4">
            &nbsp;
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-3">
            <p-panel styleClass="myPanel">
                <p-header>
                    <i class="fa fa-2x fa-university"></i> DXC Services
                </p-header>

                <textarea name="services-input" style="width:100%" [rows]="13" pInputTextarea [(ngModel)]="project.dxcServices"></textarea>
            </p-panel>
        </div>

        <div class="ui-g-3">
            <p-panel styleClass="myPanel">
                <p-header>
                    <i class="fa fa-2x fa-sun-o"></i> Facts
                </p-header>

                <textarea name="facts-input" style="width:100%" [rows]="13" pInputTextarea [(ngModel)]="project.facts"></textarea>
            </p-panel>
        </div>
        <div class="ui-g-3">
            <p-panel styleClass="myPanel">
                <p-header>
                    <i class="fa fa-2x fa-line-chart"></i> DXC Solution
                </p-header>

                <textarea name="solution-input" style="width:100%" [rows]="13" pInputTextarea [(ngModel)]="project.dxcSolution"></textarea>
            </p-panel>
        </div>

        <div class="ui-g-3">
            <p-panel styleClass="myPanel">
                <p-header>
                    <i class="fa fa-2x fa-cogs"></i> Betriebsleistung
                </p-header>

                <textarea name="betriebsleistung-input" style="width:100%" [rows]="13" pInputTextarea [(ngModel)]="project.betriebsleistung"></textarea>
            </p-panel>
        </div>
    </div>
    <div class="ui-g">
        <p-button type="submit" label="Save" icon="fa fa-check" [disabled]="projectForm.invalid ? 'disabled' : ''"></p-button>
        <a [routerLink]="['/projects/detail/', project.id]">
            <button pButton type="button" label="Cancel" class="ui-button-secondary"></button>
        </a>
    </div>
</form>