<div class="content-container">
  <div class="content-area">
    <h1>
      About
    </h1>
    <p>Dies ist eine Applikation, um die betmöglichste Auslastung für unsere Mitarbeiter zu erreichen.</p>


    <div style="border: 1px solid black;">
      <span class="label" *ngFor="let s of selectedSkills">{{s.name}}</span>
      <button type="button" class="btn btn-icon btn-sm btn-primary" (click)="addSkill()">
        <clr-icon shape="plus"></clr-icon>
      </button>

    </div>

    <ul *ngIf="showList">
      <li *ngFor="let s of skills" (click)="onSelect(s)">{{s.name}}</li>
    </ul>
  </div>
</div>