<h1>About</h1>
<h2>
    Temporärer generator für testdaten
</h2>

<p>
    <input type="number" #anzahl />
    <button (click)="generateProjects(anzahl.value)">Create n random Projects</button>
  </p>

  <h2>Settings</h2>
  <table>
    <tr>
        <td>Api Url</td>
        <td>&nbsp;</td>
        <td>{{apiUrl}}</td>
    </tr>

    <tr>
        <td>Db Connection</td>
        <td>&nbsp;</td>
        <td>not evaluated yet</td>
    </tr>
    <tr>
        <td>Some number</td>
        <td>&nbsp;</td>
        <td>123</td>
    </tr>
    
</table>