<table>
  <tr>
    <td>Country</td>
    <td><p-dropdown name="inpCountry" [options]="convertToOptions(countryLookup)" (onChange)="onCountryChanged(workPlace.country)" [(ngModel)]="workPlace.country" appendTo="body"></p-dropdown></td>
  </tr>
  <tr>
    <td>City</td>
    <td><p-dropdown name="inpCity" [options]="convertToOptions(cityLookup)" (onChange)="onCityChanged(workPlace.city)" [(ngModel)]="workPlace.city" appendTo="body"></p-dropdown></td>
  </tr>
  <tr>
    <td>Location</td>
    <td><p-dropdown name="inpLocation" [options]="convertToOptions(locationLookup)" (onChange)="onWorkPlaceChanged(workPlace.name)" [(ngModel)]="workPlace.name" appendTo="body"></p-dropdown></td>
  </tr>
</table>
