/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
// Clarity Dependency SCSS

// ///////////@import "../node_modules/@clr/ui/src/utils/dependencies.clarity"; // Includes light theme
// ///////////@import "./theme";
// Clarity Component SCSS
// ///////////@import "../node_modules/@clr/ui/src/utils/components.clarity.scss";