<h1>Projects</h1>
<table>
    <tr>
        <td width="30%" valign="top" style="border: 1px solid black">
            <app-parent-child-locations [projectRegions]="projectRegions" [parentString]="" (locationChanged)="onRegionChanged($event)"></app-parent-child-locations>
            <app-offerings [projectOfferings]="projectOfferings" [parentString]="" (offeringChanged)="onOfferingChanged($event)"></app-offerings>
        </td>
        <td width="20px;"></td>
        <td width="70%" valign="top" style="border: 1px solid black">
            <h2>Searchbox</h2>
            <app-search-tag-box [searchTags]="searchTags"  (selectionasfasf)="onSearchTagDeleted($event)"></app-search-tag-box>
            <h2>Results</h2>
            <app-project-list [projects]="projects" (projectSelected)="onProjectSelectionChanged($event)"></app-project-list>
            <app-project-detail *ngIf="selectedProject" [project]="selectedProject"></app-project-detail>
        </td>
    </tr>
</table>