<div class="tagArea">
  <label *ngFor="let t of selectedItems" class="label label-purple clickable" (click)="onRemove(t)">{{t.value}}&nbsp;
    <label shape="close"></label>
  </label>
  <input type="text" />
  <label shape="plus" (click)="onAddItemButton()"></label>
</div>


<!-- <div class="dropDownItems" *ngIf="dropdownIsVisible">
  <label *ngFor="let level1 of lookupData.childs">
    <div (click)="onItemClicked(level1)">
      {{level1.value}},
    </div>

    <ng-template [clrIfExpanded]="false">
      <label *ngFor="let level2 of level1.childs">
        <div (click)="onItemClicked(level2)" class="clr-treenode-link">
          {{level2.value}}
        </div>
      </label>
    </ng-template> 
  </label>
</div> -->