<clr-datagrid [(clrDgSelected)]="selectedItems">
  <clr-dg-action-bar>
    <div class="btn-group">
        <button type="button" class="btn btn-sm btn-success" (click)="onAddRequest()" *ngIf="selectedItems.length === 0">
            <clr-icon shape="add"></clr-icon>&nbsp;Add Project</button>
   
      <button type="button" class="btn btn-sm btn-danger" (click)="onDeleteRequest()" *ngIf="selectedItems.length > 0">
        <clr-icon shape="delete"></clr-icon>&nbsp;Delete</button>
    </div>
  </clr-dg-action-bar>

  <!-- <clr-dg-column>ID</clr-dg-column> -->
  <clr-dg-column>Name</clr-dg-column>
  <clr-dg-column>Customer</clr-dg-column>
  <clr-dg-column>Industry</clr-dg-column>
  <clr-dg-column>Regions</clr-dg-column>
  <clr-dg-column>Offerings</clr-dg-column>
  <clr-dg-column>Skills</clr-dg-column>

  <clr-dg-row *clrDgItems="let p of projects; let i = index;" [clrDgItem]="p">
    <!-- <clr-dg-cell>{{p.id}}</clr-dg-cell> -->
    <clr-dg-cell (click)="onProjectSelected(p)">{{p.name}}</clr-dg-cell>
    <clr-dg-cell (click)="onProjectSelected(p)">{{p.customer.name}}</clr-dg-cell>
    <clr-dg-cell (click)="onProjectSelected(p)">{{p.industry ? p.industry.name : '&nbsp;'}}</clr-dg-cell>
    <clr-dg-cell (click)="onProjectSelected(p)">
      <!-- <span class="label" *ngFor="let r of p.regions">{{r.name}}</span> -->
      <span *ngFor="let r of p.regions; last as isLast;">{{r.name}}<span *ngIf="!isLast">, </span></span>
    </clr-dg-cell>
    <clr-dg-cell (click)="onProjectSelected(p)">
      <!-- <span class="label" *ngFor="let o of p.offerings">{{o.name}}</span> -->
      <span *ngFor="let o of p.offerings; last as isLast;">{{o.name}}<span *ngIf="!isLast">, </span></span>
    </clr-dg-cell>
    <clr-dg-cell (click)="onProjectSelected(p)">
      <!-- <span class="label" *ngFor="let s of p.skills">{{s.name}}</span> -->
      <span *ngFor="let s of p.skills; last as isLast;">{{s.name}}<span *ngIf="!isLast">, </span></span>
    </clr-dg-cell>
  </clr-dg-row>
</clr-datagrid>