<table style="border: 0px solid black" border="1">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Customer</th>
    <th>Industry</th>
    <th>Regions</th>
    <th>Offerings</th>
    <th>Skills</th>
  </tr>
  <tr *ngFor="let p of projects" (click)="onProjectSelected(p)">
    <td>{{p.id}}</td>
    <td>{{p.name}}</td>
    <td>{{p.customer.name}}</td>
    <td>{{p.industry ? p.industry.name : "&nbsp;"}}</td>
    <td><span *ngFor="let r of p.regions">[{{r.name}}]</span></td>
    <td><span *ngFor="let o of p.offerings">[{{o.name}}]</span></td>
    <td><span *ngFor="let s of p.skills">[{{s.name}}]</span></td>
  </tr>
</table>