<div class="content-container">
    <div class="content-area">
        <!-- <app-autocomplete [data]="industriesLookup"></app-autocomplete> -->
        <form #projectForm="ngForm" (ngSubmit)="onSaveBtnClicked()">
            <section class="form-block">
                <h1 *ngIf="!project.id">Add Project</h1>
                <h1 *ngIf="project.id">Edit Project</h1>
                <div class="form-group">
                    <label class="required">Name</label>
                    <label for="prjName" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="nameInput.invalid && (nameInput.dirty || nameInput.touched)">
                        <input type="text" id="prjName" placeholder="Enter name" required name="prjName" [(ngModel)]="project.name" #nameInput="ngModel">
                        <span class="tooltip-content">
                            Name is Required.
                        </span>
                        <span role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="formErrors['Name']">
                            <span class="tooltip-content">{{formErrors['Name']}}</span>
                        </span>

                    </label>

                </div>

                <div>{{formErrors['Name']}}</div>
                <div class="form-group">
                    <label class="required">Customer</label>
                    <label for="cusName" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="customerInput.invalid && (customerInput.dirty || customerInput.touched)">
                        <div class="select">
                            <select id="cusName" name="cusName" [(ngModel)]="selectedCustomer" #customerInput="ngModel" required>
                                <option>n/a</option>
                                <option *ngFor="let c of customersLookupData" [ngValue]="c">{{c.name}}</option>
                            </select>
                        </div>
                        <span class="tooltip-content">
                            Customer is Required.
                        </span>

                    </label>
                </div>
                <div class="form-group">
                    <label for="indName">Industry</label>
                    <label for="indName" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="industryInput.invalid && (industryInput.dirty || industryInput.touched)">
                        <div class="select" #industryInput>
                            <select name="indName" [(ngModel)]="selectedIndustry">
                                <option>n/a</option>
                                <option *ngFor="let i of industries" [ngValue]="i">{{i.name}}</option>
                            </select>
                        </div>
                    </label>
                </div>
                <div class="form-group">
                    <label for="skillName">Skills</label>
                    <label for="skillName">
                        <app-autocomplete2 [lookupData]="skillsLookup" [(selectedItems)]="selectedSkills"></app-autocomplete2>
                    </label>
                </div>

                <div class="form-group">
                    <label for="offerings">Offerings</label>
                    <app-hierarchy-flat [lookupData]="offeringsLookup" [(selectedItems)]="selectedOfferings"></app-hierarchy-flat>
                </div>

                <div class="form-group">
                    <label for="regions">Regions</label>
                    <app-hierarchy-flat [lookupData]="regionsLookup" [(selectedItems)]="selectedRegions"></app-hierarchy-flat>
                </div>



                <div class="row">
                    <div class="col-xs-3">
                            <label>DXC Services</label>
                            <textarea id="dxcServices" name="dxcServices" [(ngModel)]="project.dxcServices" #dxcServices="ngModel" required></textarea>

                    </div>
                    <div class="col-xs-3">
                            <label>Facts</label>
                            <textarea name="dxcFacts" [(ngModel)]="project.facts"></textarea>
                    </div>
                    <div class="col-xs-3">
                            <label>DXC Solution</label>
                            <textarea name="dxcSolution" [(ngModel)]="project.dxcSolution"></textarea>
                    </div>
                    <div class="col-xs-3">
                            <label>DXC Betriebsleistung</label>
                            <textarea name="dxcBetriebsleistung" [(ngModel)]="project.betriebsleistung"></textarea>
                    </div>
                </div>
                <!-- <button [clrLoading]="submitting">Save</button> -->
                <button type="submit" [clrLoading]="submitting" class="btn btn-sm btn-success" [disabled]="projectForm.invalid ? '' : ''">
                        <clr-icon shape="check"></clr-icon>&nbsp;Save</button>
                <a class="btn btn-sm btn-outline" [routerLink]="['/projects/detail/', project.id]"><clr-icon shape="check" ></clr-icon>&nbsp;Cancel</a>
            </section>
        </form>
    </div>
</div>