<!-- <ul>
  <li *ngFor="let emp of employees$ | async" >
    Name: {{emp.name}}
  </li>
</ul>  -->

<p-button label="New" [disabled]="selectedEmployees.length > 0" (onClick)="onNew()" icon="fa fa-plus"></p-button>
<p-button label="Delete" [disabled]="selectedEmployees.length == 0" (onClick)="onDelete()" icon="fa fa-trash"></p-button>

<p-table [value]="employees" [(selection)]="selectedEmployees" dataKey="id" rowHover="false" [paginator]="true" [rows]="10">
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 2.25em">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th>name</th>
      <th>email</th>
      <th>Manager</th>
      <th>location</th>
      <th *ngFor="let m of currentMonths" [style]="{'width' : 'auto'}">% {{m}}</th>
      <th>action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-employee>
    <tr [pSelectableRow]="employee" [style.background-color]="(selectedEmployee && (employee.id === selectedEmployee.id)) ? 'silver' : ''">
      <td>
        <p-tableCheckbox styleClass="myCheckbox" [value]="employee"></p-tableCheckbox>
      </td>
      <td (click)="onSelect(employee)">{{employee.name}}</td>
      <td>{{employee.email}}</td>
      <td>{{getManagerString(employee)}}</td>
      <td>{{getLocationString(employee)}}</td>
      <td style="width:auto; text-align: center;">
          <app-employee-availability-item-edit [employeeId]="employee.id" [year]="employee.availability[0].year" [month]="employee.availability[0].month"
            [precentage]="employee.availability[0].precentage"></app-employee-availability-item-edit>
        </td>
        <td style="width:auto; text-align: center;">
          <app-employee-availability-item-edit [employeeId]="employee.id" [year]="employee.availability[1].year" [month]="employee.availability[1].month"
            [precentage]="employee.availability[1].precentage"></app-employee-availability-item-edit>
        </td>
        <td style="width:auto; text-align: center;">
          <app-employee-availability-item-edit [employeeId]="employee.id" [year]="employee.availability[2].year" [month]="employee.availability[2].month"
            [precentage]="employee.availability[2].precentage"></app-employee-availability-item-edit>
        </td>
        <td style="width:auto; text-align: center;">
          <app-employee-availability-item-edit [employeeId]="employee.id" [year]="employee.availability[3].year" [month]="employee.availability[3].month"
            [precentage]="employee.availability[3].precentage"></app-employee-availability-item-edit>
        </td>
        <td style="width:auto; text-align: center;">
          <app-employee-availability-item-edit [employeeId]="employee.id" [year]="employee.availability[4].year" [month]="employee.availability[4].month"
            [precentage]="employee.availability[4].precentage"></app-employee-availability-item-edit>
        </td>
        <td style="width:auto; text-align: center;">
          <app-employee-availability-item-edit [employeeId]="employee.id" [year]="employee.availability[5].year" [month]="employee.availability[5].month"
            [precentage]="employee.availability[5].precentage"></app-employee-availability-item-edit>
        </td>
    
        <td style="width:auto; text-align: center;">
          <p-button (onClick)="onEdit(employee)" icon="fa fa-pencil"></p-button>
        </td>
    
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="7">
        No records found
      </td>
    </tr>
  </ng-template>
</p-table>
