<!-- <ul>
  <li *ngFor="let emp of employees$ | async" >
    Name: {{emp.name}}
  </li>
</ul>  -->

<button (click)="onNew()">new</button>
<table border="1">
  <tr>
    <th>id</th>
    <th>name</th>
    <th>email</th>
    <th>% Jul</th>
    <th>% Aug</th>
    <th>% Sep</th>
    <th>% Oct</th>
    <th>% Nov</th>
    <th>% Dec</th>
    <th>action</th>
  </tr>
  <tr *ngFor="let e of employees">
    <td>{{e.id}}</td>
    <td>{{e.name}}</td>
    <td>{{e.email}}</td>
    <td style="text-align: right;">{{e.availability[0].precentage}}</td>
    <td style="text-align: right;">{{e.availability[1].precentage}}</td>
    <td style="text-align: right;">{{e.availability[2].precentage}}</td>
    <td style="text-align: right;">{{e.availability[3].precentage}}</td>
    <td style="text-align: right;">{{e.availability[4].precentage}}</td>
    <td style="text-align: right;">{{e.availability[5].precentage}}</td>

    <td><button (click)="onEdit(e)">edit</button><button (click)="onSelect(e)">select</button></td>
  </tr>
</table>