<form #employeeForm="ngForm" (ngSubmit)="onSave()">
    <section class="form-block">
        <div class="form-group">
            Name
            <input type="text" id="Name" name="Name" placeholder="Enter name" required  [(ngModel)]="employee.name" #name="ngModel">
            <p-message *ngIf="!name.valid&&name.dirty || formErrors.get('EmployeeName')" closable="true"
                severity="error" 
                [text]="formErrors.get('EmployeeName') ? formErrors.get('EmployeeName') : 'name required'" 
            ></p-message>
        </div>
        <div class="form-group">
            Email
                <input type="email" id="empEmail" placeholder="Enter email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required name="email" [(ngModel)]="employee.email" #emailInput="ngModel">
                <p-message *ngIf="!emailInput.valid&&emailInput.dirty" closable="true"
                severity="error" 
                text="Email is Required." 
            ></p-message>
        </div>
        <h2>Skills</h2>
        <div class="form-group">
            <label for="skills-input">Skills</label>
            <p-autoComplete name="skills-input" class="my-p-autocomplete" [style]="{'width': '100%'}" [inputStyle]="{'width':'100%'}"
                [(ngModel)]="employee.skills" field="name" [suggestions]="skillsLookup" (completeMethod)="onSkillInnerSearch($event)"
                [dropdown]="true" [multiple]="true">
            </p-autoComplete>   
        </div>

        <div>
            <h2>Roles</h2>
            <!-- <div *ngFor="let role of employee.roles">
                <app-employee-roles-edit [employeeRole]="role"></app-employee-roles-edit>
            </div> -->
            <p-button label="New" (onClick)="addEmployeeRole()" icon="fa fa-plus"></p-button>
            <table>
                <tr *ngFor="let r of employee.roles">
                    <td>
                        {{r.name}}({{r.contributionGroup.name}})
                    </td>
                    <td>
                        <p-button label="" (onClick)="showRoleDialog(r)" icon="fa fa-pencil"></p-button>
                        <p-button label="" (onClick)="deleteRole(r)" icon="fa fa-trash"></p-button>
                    </td>
                </tr>
            </table>
 
            <p-dialog #EmployeeRoleEditor [contentStyle]="{'overflow':'visible'}" [(visible)]="displayRoleDialog"  modal="true" name="EmployeeRoleEditor" resizable="false" appendTo="body">
                    <app-employee-roles-edit *ngIf="selectedRole" [employeeRole]="selectedRole"></app-employee-roles-edit>
                    <p-footer>
                            <p-button label="close" (onClick)="displayRoleDialog = false"></p-button>
                    </p-footer>
            </p-dialog>
        </div>

        <h2>Work Place</h2>
        {{showWorkPlaceString(employee.workPlace)}}
        <p-button label="" (onClick)="displayWorkPlaceDialog = true; showWorkPlaceString(employee.workPlace)" icon="fa fa-pencil"></p-button>
        <p-dialog [(visible)]="displayWorkPlaceDialog" modal="false" Name="WorkPlaceEdit" appendTo="body">
            <p-header>WorkPlace</p-header>
            <app-work-place [(workPlace)]="employee.workPlace"></app-work-place>
        </p-dialog>
        

        <h2>Manager</h2>
        <!-- {{employee.manager}}
        {{employee.manager.name}}
        {{selectedManager}} -->

        <p-dropdown autoDisplayFirst="false" [required]="true" placeholder="Select Manager" name="inpManager" [options]="managersLookup" [(ngModel)]="employee.manager" optionLabel="name" #manager></p-dropdown>
        <p-message *ngIf="formErrors.get('Manager')" closable="true"
            severity="error" 
            [text]="formErrors.get('Manager') ? formErrors.get('Manager') : 'manager required'" 
        ></p-message>
        <hr>
        <button pButton type="submit" label="speichern" ></button>
    </section>
</form>